.main-chat
  .main-chat__group
    %ul.main-chat__group-info
      %li.main-chat__group-info__current
        = @group.name
      %li.main-chat__group-info__member
        Member :
        - @group.users.each do |user|
          = user.name
    = link_to edit_group_path(@group.id) do
      .main-chat__group__edit
        Edit
  .main-chat__message
    = render @messages
 
  .main-chat__form
    = form_for [@group, @message] do |f|
      .message-box
        = f.text_field :content, class: 'text', placeholder: 'type a message'
        .message-box__icon
          = f.label :image, class: 'image' do
            = icon('fas','image', class: 'icon')
            = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'submit__btn'